.schotknop{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(225, 36, 36);
  background-color: blanchedalmond;
  margin-bottom: 40px;
}